@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Titillium+Web);
@font-face{
	font-family: 'FonteLogo';
	src: url("../_fonts/bubblegum-sans-regular.otf");
}
body{
	font-family: Arial, sans-serif;
	/*background-image: url("");*/
	background-color: #dddddd;
	color:rgba(0,0,0,1);
}
div#interface {
	width: 900px; /*tamanho da janela excepto o menu que está em absoluto, o resto está em relativo*/
	background-color:#ffffff;
	color: black;
	margin: -20px auto 0px auto;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
	padding: 10px 10px 10px 10px; /*se os valores forem todos iguais basta colocar uma vez*/
}
p {
	text-align: justify;
	text-indent: 50px;
}
a{
	color: #606060;
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
/*formatação do cabeçalho */
header#cabecalho img#icone{ /*imagem dos do header lado direito */
	position: absolute;
	width: 250px;
	left: 920px;
	top: 70px;
}

header#cabecalho { /*cabeçalho fundo e posicao*/
	border-bottom: 1px #606060 solid; /*tipo de linha que separa o cabeçalo do body */
	height: 150px;
	background: rgba(0,0,0,0.1);
}
header#cabecalho h1 { /*tipo letra do cabeçalho*/
	font-family: 'FonteLogo', sans-serif;
	font-size: 45pt;
	color: #606060;
	padding: 0px;
	margin-top: 5px;
	margin-bottom:  0px;
}
header#cabecalho h2 { /*tipo letra do cabeçalho*/
	font-family: 'Titillium Web', sans-serif;
	font-size: 30px;
	color: #808080;
	padding: 0px;
	margin-top: 0px;
}
/*formatação de legendas das figuras*/
figcaption#legenda {
	font-family: 'Titillium Web', sans-serif;
	font-size: 12px;
	color: #808080;
}

/*Formatação do menu */
nav#menu {
	display: block;
	position: absolute; /*se utilizar a relativa dentro do menu nav logo só mexe dentro do container, logo absolute ele fica no site*/
	top:0px;
	left:550px;
}
nav#menu ul{
	list-style: none; /*tirar as marcas*/
	text-transform: uppercase; /*por tudo em maiusculas*/
}
nav#menu li{
	display: inline-block; /*por tudo numa linha */
	background-color: #00ffff;
	padding: 10px; /*aumentar a caixa à volta de cada botão do menu*/
	margin: 2px; /*espaço entre botões*/
	transition: background-color 1s;
}
nav#menu li:hover {
	background-color: #606060 ;
}
nav#menu h1{
	display: none;
}
nav#menu a { /*sem o rato */
	color: black;
	text-decoration: none;
}
nav#menu a:hover{ /*quando o rato passa por cima */
	color: white;
	text-decoration: underline;
}
/*formatação das seções principal da pagina */
section#corpo {
	display: block;
	width: 500px;
	float: left;
	border-right: 1px solid #606060;
	padding-right: 15px;
}
article#noticia-principal h2 {
	font-size: 13pt;
	color:#606060;
	background-color: #dddddd;
	padding: 5px 0px 5px 10px;
	margin: 10px;
}
header#cabecalho-artigo h1{
	font-family:'FonteLogo', sans-serif;
	font-size: 20pt;
	color: #606060;
	margin-bottom: 0px;
	margin-top: 0px;
}
header#cabecalho-artigo h2{
	font-family:'FonteLogo', sans-serif;
	font-size: 12pt;
	color: #cecece;
	margin: 0px;
	background-color: #ffffff;
}
header#cabecalho-artigo h3{
	font-family:'FonteLogo', sans-serif;
	font-size: 12pt;
	color: #606060;
}
.direita {
	text-align: right;
}

/*formatação das tabelas */
table#tabela {
	border: 1px solid #606060;
	border-spacing: 0px;
	margin-left: auto;
	margin-right: auto;
}
table#tabela td {
	border: 1px solid #606060;
	padding: 10px;
	text-align:center;
	vertical-align:middle;
}
table#tabela td.ce {
	color: #ffffff;
	background-color: #606060;
	vertical-align:top;
	font-weight: bold;
}
table#tabela td.cd {
	color: black;
	background-color: #cecece;
}

table#tabela caption {
	color: #888888;
	font-size:10pt;
	font-weight: bolder;
}

table#tabela caption span {
	display: block;
	float: right;
	color: black;
	font-size: 8pt;
	margin-top: 10px;
}
/*formatação das seções secundárias*/
aside#lateral {
	display: block;
	width: 350px;
	float: right;
	background-color:#dddddd;
	padding:10px;
	margin-top: 100px;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}
aside#lateral h1{
	font-family: 'FonteLogo', sans-serif;
	font-size: 20pt;
	color: #606060;
	
}
aside#lateral h2 {
	background-color: #606060;
	font-size: 13pt;
	color: #ffffff;
	padding: 5px;
}
footer#rodape{
	clear: both; /*para não ficar com as carateristicas das outras 2 seções*/
	border-top: 1px solid #606060;
}
footer#rodape p{
	text-align: center;
}